extends ../main-layout.pug

block content
 
      header.section.hero
        .hero__bg
          .hero__bg-img
            img(src="img/hero-bg.jpg", alt="")
        .hero__socials
          include ../sections/socials
        a(href="").hamburger
          span
          span
          span
        a(href="").down-arrow
          .down-arrow__icon
            img(src="img/arrow-down.svg", alt="")

        .hero__title
          img(src="img/section-title.png", alt="").section-title
          .user.hero__user-block
            .user__photo
              .user__photo-avatar
                img(src="img/user-photo.jpg", alt="")
            h1.user__name Валерий Ерошенко 
            .user__descr Личный сайт веб разработчика

      section.section.about
        .about__left
          svg(
            viewbox="0 0 1000 100" 
            preserveAspectRatio="none"
            class="triangle triangle_fil_white about__triangles")
            polygon(points="0,0 0,100 1000,100")
          .about__left-inner
            +title('обо мне', 'about.svg', 'about__section-title')
            .user-about
              .user-about__picture
                img(src="img/user-photo.jpg", alt="")
                .user-about__title
                  .subtitle
                    | Кто я
              .user-about__text
                p Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!    
        .about__right
          svg(
            viewbox="0 0 1000 100" 
            preserveAspectRatio="none"
            class="triangle triangle_fil_beige about__triangles")
            polygon(points="0,100 1000,100 1000,0")
            .about__right-inner
              .about-data
                .about-data__description
                  .about-data__title
                    .subtitle Чем я могу быть вам полезен
                  .about-data__text
                    p Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
                .about-data__content
                  ul.skills 
                    each skill in skills
                      each skillArray, skillName in skill
                        li.skills__item
                          .skill-section
                            .skill-section__title= skillName
                            ul.skill-section__list
                              each skillTitle in skillArray
                                li.skills-section__item
                                  .skill
                                    svg.skill__circle
                                      circle( r="55" cx="75" cy="75" class="skill__ring")
                                      circle( r="65" cx="75" cy="75" class="skill__level")
                                    .skill__name= skillTitle

      section.section.map
        .main-maps
          .contacts.about__contacts
            .contacts__title
              .subtitle Контакты
            ul.contacts__data
              each contact in contacts
                li.contacts__data-item= contact
          .footer
            ul.footer-menu.footer__menu
              li.footer-menu__item
                a(href="#" class="footer-menu__link") Мои работы
              li.footer-menu__item
                a(href="#" class="footer-menu__link") Обо мне
              li.footer-menu__item
                a(href="#" class="footer-menu__link") Блог
              li.footer-menu__item
                a(href="#" class="footer-menu__link") Авторизация  
            .footer__socials
              include ../sections/socials